Repository kasulani/go-fundi: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, cucumber-autoformat

golangci-lint:
  name: golangci-lint
  description: Runs `golint`, requires https://golangci-lint.run/
  language: system
  entry: docker-compose run --rm -T base-container ./pre-commit/golangci-lint.sh

cucumber-autoformat:
  name: Cucumber Autoformat
  description: Runs `ghokin fmt replace`
  language: system
  entry: docker-compose run --rm -T base-container ./pre-commit/cucumber-autoformat.sh

refactor FundiFile model
  internal/fundi/cli.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

refactor TemplateFile model
  internal/fundi/cli.go
  internal/generate/domain.go
  internal/generate/domain_test.go
Due: golangci-lint

fix parse templates bug
  internal/fundi/cli.go
Due: golangci-lint

rename pkg fundi to app
  Makefile
  cmd/fundi/main.go
  internal/app/app.go
  internal/app/bbd_test.go
  internal/app/cli.go
  internal/app/doc.go
  internal/fundi/doc.go
Due: golangci-lint

rename StartCLI method to Run
  cmd/fundi/main.go
  internal/app/app.go
Due: golangci-lint

rename Cmd interface to SubCommand
  internal/app/app.go
  internal/app/cli.go
Due: golangci-lint

refactor Container method
  cmd/fundi/main.go
  internal/app/app.go
Due: golangci-lint

rename Generator interface to UseCase
  internal/app/cli.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

refactor scaffold subscommand to directory-structure
  features/generate.directory.structure.feature
  features/generate.files.feature
  internal/app/cli.go
  internal/generate/usecase.go
Due: golangci-lint, cucumber-autoformat

add empty-files subscommand
  features/generate.empty.files.feature
  internal/app/cli.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

refactor FilesFromTemplates to FilesUseCase
  internal/app/cli.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

refactor Execute method
  internal/app/cli.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

add initialise use case
  internal/app/cli.go
  internal/generate/doc.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

remove unsupported linters
  .golangci.yml
Due: none

rename directoryStructure and emtyFiles commands
  internal/app/cli.go
Due: golangci-lint

remove UseCase interface
  internal/generate/usecase.go
Due: golangci-lint

update run behaviour tests step
  .github/workflows/pr-actions.yml
Due: none

Patch/code improvements (#20)
  .github/workflows/pr-actions.yml
  .golangci.yml
  Makefile
  cmd/fundi/main.go
  features/generate.directory.structure.feature
  features/generate.empty.files.feature
  internal/app/app.go
  internal/app/bbd_test.go
  internal/app/cli.go
  internal/app/doc.go
  internal/fundi/doc.go
  internal/fundi/fundi.go
  internal/generate/doc.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

update project deps
  go.mod
  go.sum
Due: none

update project deps (#29)
  go.mod
  go.sum
Due: none

update zap logger
  go.mod
  go.sum
Due: none

update zap logger (#30)
  go.mod
  go.sum
Due: none

update README file
  CONTRIBUTING.md
  README.md
Due: none

update README file (#37)
  CONTRIBUTING.md
  README.md
Due: none

update the yaml config
  README.md
Due: none

add ProjectDirectoryStructureUseCase
  internal/generate/factory.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase_generate_directories.go
  internal/generate/usecase_generate_directories_test.go
Due: golangci-lint

update Makefile
  Makefile
Due: none

add factory methods
  internal/generate/factory.go
  internal/generate/usecase_generate_directories_test.go
Due: golangci-lint

add Directories method
  internal/generate/types.go
Due: golangci-lint

add generate-directories command
  internal/app/app.go
  internal/app/app_test.go
  internal/app/commands.go
  internal/app/factory.go
  internal/app/types.go
Due: golangci-lint

refactor getAllDirectoriesInTheConfigFile method
  internal/generate/types.go
  internal/generate/usecase_generate_directories.go
  internal/generate/usecase_generate_directories_test.go
Due: golangci-lint

update gitignore
  .gitignore
Due: none

add bbd test for generate-directories command
  features/generate.directories.feature
  internal/behaviour/step.go
Due: golangci-lint, cucumber-autoformat

disable linter:unused due to false postives
  .golangci.yml
Due: none

change write file permissions
  internal/app/app_test.go
  internal/behaviour/step.go
Due: golangci-lint

enable linter:unused
  .golangci.yml
Due: none

Patch/refactor feature to generate project structure (#40)
  .gitignore
  .golangci.yml
  Makefile
  README.md
  features/generate.directories.feature
  internal/app/app.go
  internal/app/app_test.go
  internal/app/commands.go
  internal/app/factory.go
  internal/app/types.go
  internal/behaviour/step.go
  internal/generate/factory.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase_generate_directories.go
  internal/generate/usecase_generate_directories_test.go
Due: golangci-lint, cucumber-autoformat

refactor generate command
  README.md
  features/generate.directories.feature
  features/generate.project.feature
  internal/app/app.go
  internal/app/cli.go
  internal/app/commands.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/factory.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/usecase_generate_directories.go
  internal/generate/usecase_generate_directories_test.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

refactor generate command (#41)
  README.md
  features/generate.directories.feature
  features/generate.project.feature
  internal/app/app.go
  internal/app/cli.go
  internal/app/commands.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/factory.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/usecase_generate_directories.go
  internal/generate/usecase_generate_directories_test.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

refactor filesCreator
  internal/app/cli.go
  internal/app/factory.go
  internal/app/types.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: (?<!\.pb)\.go$
  cucumber-autoformat: any of: \.feature$
