Repository kasulani/go-fundi: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, cucumber-autoformat

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        description: Runs `golint`, requires https://golangci-lint.run/
        language: system
        entry: 'docker-compose run --rm -T base-container ./pre-commit/golangci-lint.sh'
        files: '(?<!\.pb)\.go$'

      - id: cucumber-autoformat
        name: Cucumber Autoformat
        description: Runs `ghokin fmt replace`
        language: system
        entry: 'docker-compose run --rm -T base-container ./pre-commit/cucumber-autoformat.sh'
        files: '\.feature$'

      - id: gitleaks
        name: Git Secrets Scan
        description: Runs `gitleaks --pretty -v`, requires https://github.com/zricethezav/gitleaks
        language: system
        entry: 'docker-compose run --rm -T base-container ./pre-commit/git-secrets-scan.sh'

add generateFilesFromTemplates method
  internal/app/app.go
  internal/app/factory.go
  internal/app/types.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/factory.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
  internal/generate/usecase_test.go
Due: golangci-lint

implement FilesCreator interface
  .gitignore
  features/generate.project.feature
  internal/app/types.go
  internal/behaviour/step.go
Due: golangci-lint, cucumber-autoformat

refactor generate.project.feature
  features/generate.project.feature
Due: cucumber-autoformat

comment out failing bbd tests
  features/generate.project.feature
Due: cucumber-autoformat

rewrite bbd tests
  features/generate.project.feature
Due: cucumber-autoformat

Patch/refactor command generate all (#43)
  .gitignore
  features/generate.project.feature
  internal/app/app.go
  internal/app/cli.go
  internal/app/factory.go
  internal/app/types.go
  internal/behaviour/step.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/factory.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

remove old code
  features/generate.directory.structure.feature
  features/generate.empty.files.feature
  features/generate.files.feature
  features/initialise.feature
  internal/app/app.go
  internal/app/cli.go
  internal/app/commands.go
  internal/app/factory.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/interface.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

refactor ScaffoldProject method
  internal/app/commands.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
Due: golangci-lint

refactor CreateDirectoryStructure method
  internal/app/types.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
Due: golangci-lint

update bbd tests
  README.md
  features/generate.project.feature
  internal/app/commands.go
  internal/app/types.go
Due: golangci-lint, cucumber-autoformat

refactor bbd tests
  .gitignore
  features/generate.project.feature
  godog_test.go
  internal/app/bbd_test.go
  internal/behaviour/fixture.go
  internal/behaviour/specification.go
  internal/behaviour/step.go
  testdata/.test.fundi.yaml
  testdata/doc.go.tmpl
Due: golangci-lint, cucumber-autoformat

move bdd_test.go to package behaviour
  Makefile
  internal/behaviour/bbd_test.go
Due: golangci-lint

remove unused methods
  internal/behaviour/step.go
  internal/generate/types.go
Due: golangci-lint

Patch/remove old implementation (#44)
  .gitignore
  Makefile
  README.md
  features/generate.directory.structure.feature
  features/generate.empty.files.feature
  features/generate.files.feature
  features/generate.project.feature
  features/initialise.feature
  godog_test.go
  internal/app/app.go
  internal/app/cli.go
  internal/app/commands.go
  internal/app/factory.go
  internal/app/types.go
  internal/behaviour/bbd_test.go
  internal/behaviour/fixture.go
  internal/behaviour/specification.go
  internal/behaviour/step.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/interface.go
  internal/generate/mocks.go
  internal/generate/types.go
  internal/generate/usecase.go
  internal/generate/usecase_generate_project.go
  internal/generate/usecase_generate_project_test.go
  internal/generate/usecase_test.go
  testdata/.test.fundi.yaml
  testdata/doc.go.tmpl
Due: golangci-lint, cucumber-autoformat

disable depguard linter
  .golangci.yml
Due: none

remove the deadcode linter
  .golangci.yml
Due: none

remove varcheck linter
  .golangci.yml
Due: none

remove golint linter
  .golangci.yml
Due: none

refactor NewMetadata
  internal/app/types.go
  internal/generate/factory.go
  internal/generate/types.go
Due: golangci-lint

update go deps
  go.sum
Due: none

Patch/refactor new metadata factory signature (#49)
  go.sum
  internal/app/types.go
  internal/generate/factory.go
  internal/generate/types.go
Due: golangci-lint

add MustCreateDependencies method
  godog_test.go
  internal/behaviour/bbd_test.go
  internal/behaviour/specification.go
Due: golangci-lint

rename feature file
  features/generate.feature
Due: cucumber-autoformat

fix error in ci test job
  .github/workflows/pr-actions.yml
Due: none

Patch/fix bbd tests in ci (#50)
  .github/workflows/pr-actions.yml
  features/generate.feature
  godog_test.go
  internal/behaviour/bbd_test.go
  internal/behaviour/specification.go
Due: golangci-lint, cucumber-autoformat

remove version from docker compose file
  docker-compose.yml
Due: none

remove version from docker compose file (#51)
  docker-compose.yml
Due: none

update go version to 1.23
  Makefile
  dockerfiles/development/Dockerfile
  go.mod
  go.sum
Due: none

update go version to 1.23 (#52)
  Makefile
  dockerfiles/development/Dockerfile
  go.mod
  go.sum
Due: none

upgrade go version in ci
  .github/workflows/pr-actions.yml
Due: none

upgrade go version in ci (#58)
  .github/workflows/pr-actions.yml
Due: none

add a goreleaser config file
  .gitignore
  .goreleaser.yaml
  Makefile
Due: none

chore: add release workflow file
  .github/workflows/release.yml
Due: none

chore: update readme file
  .github/workflows/release.yml
  README.md
Due: none

Chore: Add release workflow (#59)
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  README.md
Due: none

chore: fix error in the release workflow file
  .github/workflows/release.yml
Due: none

chore: fix error in the release workflow file (#60)
  .github/workflows/release.yml
Due: none

chore: create release on PR merge
  .github/workflows/release.yml
Due: none

chore: create release on PR merge (#61)
  .github/workflows/release.yml
Due: none

chore: fix failure in release workflow
  .github/workflows/release.yml
Due: none
