Repository kasulani/go-fundi: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, cucumber-autoformat

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        description: Runs `golint`, requires https://golangci-lint.run/
        language: system
        entry: 'docker-compose run --rm -T base-container ./pre-commit/golangci-lint.sh'
        files: '(?<!\.pb)\.go$'

      - id: cucumber-autoformat
        name: Cucumber Autoformat
        description: Runs `ghokin fmt replace`
        language: system
        entry: 'docker-compose run --rm -T base-container ./pre-commit/cucumber-autoformat.sh'
        files: '\.feature$'

      - id: gitleaks
        name: Git Secrets Scan
        description: Runs `gitleaks --pretty -v`, requires https://github.com/zricethezav/gitleaks
        language: system
        entry: 'docker-compose run --rm -T base-container ./pre-commit/git-secrets-scan.sh'

add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add dependabot config
  .github/dependabot.yml
Due: none

add travis-ci config
  .travis.yml
  Makefile
Due: none

add core domain
  pkg/generate/.test.fundi.yaml
  pkg/generate/doc.go
  pkg/generate/domain.go
  pkg/generate/domain_test.go
  pkg/generate/usecase.go
  pkg/generate/usecase_test.go
  pkg/scaffold/doc.go
  pkg/scaffold/domain.go
  pkg/scaffold/usecase.go
Due: golangci-lint

refactor di container
  pkg/fundi/fundi.go
Due: golangci-lint

add scaffold command
  pkg/fundi/cli.go
Due: golangci-lint

add bbd testing
  features/scaffold.feature
  godog_test.go
  pkg/behaviour/.bdd.test.fundi.yaml
  pkg/behaviour/doc.go
  pkg/behaviour/specification.go
  pkg/behaviour/step.go
  pkg/fundi/bbd_test.go
Due: golangci-lint, cucumber-autoformat

update gitignore
  .gitignore
Due: none

update golangci lint config
  .golangci.yml
Due: none

update dependencies
  go.mod
  go.sum
Due: none

remove repository.go
  pkg/fundi/repository.go
Due: golangci-lint

remove validate.go
  pkg/fundi/validate.go
Due: golangci-lint

add github ci actions
  .github/workflows/pr-actions.yml
  go.mod
  go.sum
Due: none

remove travis ci
  .travis.yml
Due: none

remove todo line
  pkg/fundi/doc.go
Due: golangci-lint

add exportloopref linter
  .github/workflows/pr-actions.yml
  .golangci.yml
  Makefile
  pkg/behaviour/specification.go
  pkg/fundi/bbd_test.go
Due: golangci-lint

refactor featuresFiles function
  .github/workflows/pr-actions.yml
  pkg/fundi/bbd_test.go
Due: golangci-lint

add fixtures
  features/scaffold.feature
  pkg/behaviour/fixture.go
  pkg/behaviour/specification.go
  pkg/behaviour/step.go
Due: golangci-lint, cucumber-autoformat

add setInitialContext method
  features/scaffold.feature
  pkg/behaviour/fixture.go
  pkg/behaviour/specification.go
  pkg/behaviour/step.go
Due: golangci-lint, cucumber-autoformat

add test data
  pkg/generate/.test.fundi.yaml
Due: none

add domain logic to generate empty files
  pkg/generate/domain.go
  pkg/generate/domain_test.go
Due: golangci-lint

add use case to generate empty files
  pkg/generate/usecase.go
  pkg/generate/usecase_test.go
Due: golangci-lint

add generate files command
  pkg/fundi/cli.go
Due: golangci-lint

refactor scaffold command config flag
  features/scaffold.feature
  pkg/fundi/cli.go
Due: golangci-lint, cucumber-autoformat

add generate empty files bbd tests
  features/generate.files.feature
  pkg/behaviour/.bdd.test.fundi.yaml
  pkg/behaviour/specification.go
Due: golangci-lint, cucumber-autoformat

remove extension from .fundi.yaml
  pkg/behaviour/.bdd.test.fundi.yaml
  pkg/generate/.test.fundi.yaml
  pkg/generate/domain.go
Due: golangci-lint

make rootCommand private to fundi pkg
  pkg/fundi/cli.go
  pkg/fundi/fundi.go
Due: golangci-lint

getFilesAndTemplates function
  pkg/generate/domain.go
  pkg/generate/domain_test.go
Due: golangci-lint

add FilesFromTemplates use case
  pkg/generate/.test.fundi.yaml
  pkg/generate/usecase.go
  pkg/generate/usecase_test.go
Due: golangci-lint

update file command
  pkg/fundi/cli.go
Due: golangci-lint

add bdd tests for generating files from templates
  features/generate.files.feature
  pkg/behaviour/.bdd.test.fundi.yaml
  pkg/behaviour/step.go
  pkg/generate/domain.go
  testdata/doc.go.tmpl
Due: golangci-lint, cucumber-autoformat

add single test fundi.yaml file
  pkg/behaviour/fixture.go
  pkg/generate/.test.fundi.yaml
  pkg/generate/usecase_test.go
  testdata/.test.fundi.yaml
Due: golangci-lint

add pre-commit scripts
  .pre-commit-config.yaml
  pre-commit/cucumber-autoformat.sh
  pre-commit/git-secrets-scan.sh
  pre-commit/golangci-lint.sh
Due: none

update Prerequisites
  README.md
Due: none

rename docker-file folder
  docker-compose.yml
  dockerfiles/development/Dockerfile
Due: none

remove pkg folder, add interal folder
  .github/workflows/pr-actions.yml
  Makefile
  cmd/fundi/main.go
  godog_test.go
  internal/behaviour/doc.go
  internal/behaviour/fixture.go
  internal/behaviour/specification.go
  internal/behaviour/step.go
  internal/fundi/bbd_test.go
  internal/fundi/cli.go
  internal/fundi/doc.go
  internal/fundi/fundi.go
  internal/generate/doc.go
  internal/generate/domain.go
  internal/generate/domain_test.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

make scaffold a subcommand of generate command
  features/generate.files.feature
  features/generate.scaffold.feature
  internal/fundi/cli.go
  internal/generate/domain.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint, cucumber-autoformat

rename EmptyFiles use case
  internal/fundi/cli.go
  internal/generate/usecase.go
  internal/generate/usecase_test.go
Due: golangci-lint

refactor FundiFile model
  internal/generate/domain.go
  internal/generate/usecase_test.go
  testdata/.test.fundi.yaml
Due: golangci-lint

add init command
  features/generate.files.feature
  features/initialise.feature
  internal/fundi/cli.go
Due: golangci-lint, cucumber-autoformat
